body{
    margin: 0%;
}
#main{
    background-color: rgb(94, 39, 201);
    height:770px;
}
#navBar{
color:white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 600;
}
#navBar img{
    background-color: rgb(94, 39, 201);
    height: 30px;
    border-radius: 50%;
    margin-top: 2%;
    margin-left: 12%;
}
.floatsRight{
    float: right;
    margin-top: 30px;
    margin-right: 10%;
    display: flex;
}
.logIn{
    width:300px;
    background-color:rgba(41, 6, 111, 0.29);
    height: 35px;
    border-radius: 7px;
    padding-left: 6px;
    padding-top: 5px;
}
.logIn button{
    background-color: rgba(14, 209, 14, 0.87);
    color: white;
    border-radius: 7px;
    width: 80px;
    height: 30px;
}
.arrow {
border: solid white;
border-width: 0 2px 2px 0;
display: inline-block;
padding: 2px;
}
.down {
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}
.logIn img{
    height: 200px;
}
.help{
    margin-left: 100px;
    margin-top: 10px;
}
.imgAndinput{
    display: block;
}
#imgOne{
 margin-top: 12%;
 float: left;
}
.imagesRight #imgTwo{
position: absolute;
right: 0%;
top:30%
}
#center{
   color: white;
   margin-left: 37%;
   font-size:larger;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#center p{
    margin-left: 5%;
    font-weight: 500;
}
.category{
    display: flex;
}
#reviewsHome{
    display: flex;
    background: rgb(246, 247, 251);
    height:250px;
}
.revOne{
    margin-left: 15%;
}
.revTwo{
    margin-left: 10%;
}
.revThree{
    margin-left: 10%;
}
#partners{
    margin-left: 40%;
    height: 200px;
}
#displayFlex{
    display: flex;
    background: rgb(246, 247, 251);
    padding: 0px 10px;
}
#whyAcko{
    background: rgb(246, 247, 251);
    padding: 0px 10px;
}
.low{
    margin-left: 12%;
}
.easy{
    margin-left: 10%;
}
.free{
    margin-left: 10%;
}
#whyAcko > h1{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
}