body{
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.anchor_tag {
    text-decoration: none;
}
@media (min-width: 768px)  {
    #main{
        background-color: rgb(94, 39, 201);
        height:770px;
    }
    #invisible{
        display:none;
        background-color: white;
        border-radius: 15px;
        height: 170px;
        width:200px;
        position: absolute;
        left:25%;
        color: black;
    }
    .row {
        gap: 20px;
    }
    .column {
        margin-right: 20px;
    }
    #invisible li{
        margin-top: 20px;
        margin-left: 0%;
        list-style: none;
    }
    #invisible li:hover{
    background-color:aquamarine;
    }
    #invisibleAgain{
        display:none;
        background-color: white;
        border-radius: 15px;
        padding: 15px;
        height: auto;
        width:auto;
        position: absolute;
        left:15%;
        color: black;
    }
    #invisibleAgain li{
        margin-top: 20px;
        margin-left: 0%;
        list-style: none;
    }
    #invisibleAgain li:hover{
    background-color:aquamarine;
    }
    #navBar{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    }
    #navBar img{
        background-color: rgb(94, 39, 201);
        height: 30px;
        border-radius: 50%;
        margin-top: 2%;
        margin-left: 12%;
    }
    .floatsRight{
        float: right;
        margin-top: 30px;
        margin-right: 10%;
        display: flex;
    }
    .logIn{
        width:300px;
        background-color:rgba(41, 6, 111, 0.29);
        height: 35px;
        border-radius: 7px;
        padding-left: 6px;
        padding-top: 5px;
    }
    .logIn button{
        background-color: rgba(14, 209, 14, 0.87);
        color: white;
        border-radius: 7px;
        width: 80px;
        height: 30px;
    }
    .arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    }
    .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    }
    .logIn img{
        height: 200px;
    }
    .help{
        margin-left: 100px;
        margin-top: 10px;
    }
    .imgAndinput{
        display: block;
    }
    #imgOne{
     margin-top: 12%;
     float: left;
    }
    .imagesRight #imgTwo{
    position: absolute;
    right: 0%;
    top:30%
    }
    #center{
       color: white;
       margin-left: 37%;
       font-size:larger;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #center p{
        margin-left: 5%;
        font-weight: 500;
    }
    .category{
        display: flex;
    }
    .category p{
        font-size: 15px;
    }
    .car{
        margin-left: 30px;
    }
    .bike{
    margin-left: 80px;
    }
    .health{
        margin-left: 100px;
    }
    .inputDiv{
        position: absolute;
        left:35%;
        width:450px;
        height: 80px;
        background-color: white;
        border:2px solid whitesmoke;
        border-radius: 15px;
    }
    #theInput{
        width:260px;
        height: 50px;
        border:none;
        margin-left: 20px;
        font-size: 15px;
    }
    .inputAndbutton button{
        background-color: rgba(14, 209, 14, 0.87);
        color: white;
        border-radius: 7px;
        width: 150px;
        height: 50px;
        border: 1px solid green;
        margin-top: 10px;
    }
    #main hr{
        margin-top: 7%;
        position: absolute;
        left:37%;
        height: 0px;
        width:400px;
        background-color: rgb(126, 124, 124);
    }
    #main hr+p{
        margin-top: 8%;
        position: absolute;
        left:44%;
    }
    .looking{
        margin-top: 170px;
        position: absolute;
        left:35%;
        background-color:rgb(94, 39, 201) ;
        border: 2px solid rgb(126, 124, 124);
        border-radius: 10px;
        width:500px;
        height: 70px;
        display: flex;
        line-height: 15px;
    }
    .looking img{
        margin-top: 10px;
        margin-left: 10px;
        height: 50px;
    }
    .text{
        margin-left: 20px;
        font-size: 13px;
        margin-top:20px;
    }
    .looking button{
        margin-top: 10px;
        background-color:rgb(94, 39, 201) ;
       margin-left: 11%;
       height: 40px;
       width:100px;
       border-radius: 5px;
       border: 2px solid grey;
       font-weight: 600;
       cursor: pointer;
    }
    .crick{
        margin-top: 280px;
        position: absolute;
        left:35%;
        border: 2px solid rgb(126, 124, 124);
        border-radius: 10px;
        width:500px;
        height: 120px;
    }
    .crick p{
        font-size: 15px;
        color: white;
        margin-left: 190px;
    }
    .crick div{
        margin-left: 20px;
    }
    .crick div img{
        margin-left: 20px;
    }
    #reviewsHome{
        display: flex;
        background: rgb(246, 247, 251);
        height:250px;
    }
    #reviewsHome p{
    line-height: 5px;
    font-weight: 500;
    }
    #reviewsHome img{
        border-radius: 50%;
    }
    #reviewsHome img+span{
        font-weight: 600;
    }
    .revOne{
        margin-left: 15%;
    }
    .revTwo{
        margin-left: 10%;
    }
    .revThree{
        margin-left: 10%;
    }
    #partners{
        height: 350px;
    }
    .moreLeft{
        margin-left: 590px;
        font-size: 20px;
    }
    .lessLeft{
        margin-left: 580px;
        font-size: 15px;
    }
    #partners img{
        margin: 10px;
        height: 50px;
    }
    .rowOne, .rowTwo{
        margin-left: 32%;
    }
    .rowThree{
        margin-left: 37%;
    }
    #displayFlex{
        display: flex;
        background: rgb(246, 247, 251);
        padding: 0px 10px;
    }
    #whyAcko{
        background: rgb(246, 247, 251);
        padding: 0px 10px;
    }
    .low{
        margin-left: 12%;
    }
    .easy{
        margin-left: 10%;
    }
    .free{
        margin-left: 10%;
    }
    #whyAcko > h1{
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 20px;
    }
    .footerBox{
        display:flex;
        margin-left: 200px;
        margin-top: 50px;
    }
    .footerBox a{
        color: black;
        text-decoration: none;
    }
    .appStore img{
        height: 50px;
    }
    .social a{
    margin: 10px;
    }
    .vl {
        border-left: 1px solid rgba(184, 184, 228, 0.755);
        height: 680px;
        margin-left: 20px;
        margin-top: 15px;
      }
      .rightPartfooter{
          display: inline;
      }
      .horizontalOne{
      display: flex;
      }
      .hori{
          margin: 5%;
      }
      .horizontalTwo{
        display: flex;
        margin-bottom: 50px;
      }
      .company{
        margin-left: 50px;
        font-size: small;
        line-height: 25px;
      }
      .support{
          margin-left: 100px;
          font-size: small;
          line-height: 25px;
      }
      
      .legal{
        margin-left: 120px;
        font-size: small;
        line-height: 25px;
      }
    .carInsure{
        margin-left: 50px;
        font-size: small;
        line-height: 25px;
    }
    
    .bikeInsure{
        margin-left: 70px;
        font-size: small;
        line-height: 25px;
    }
    .healthInsure{
        margin-left: 20px;
        font-size: small;
        line-height: 25px;
    }
    .lowermostFooter{
        width: 100%;
        background: rgb(246, 247, 251);
        font-size: 12px;
        padding-top: 20px;
    }
    .lowermostFooter span{
        margin-left: 170px;
        font-weight: 500;
    }
    .lowermostFooter p{
        margin-left: 170px;
        color: rgb(29, 29, 87);
    }
  }


@media (max-width: 480px) {
    #invisible{
        display:none;
        background-color: white;
        border-radius: 15px;
        height: 170px;
        width:200px;
        position: absolute;
        left:25%;
        color: black;
        font-size: 12px;
    }
    #invisible li{
        margin-top: 20px;
        margin-left: 0%;
        list-style: none;
    }
    #invisible li:hover{
    background-color:aquamarine;
    }
    #invisibleAgain{
        display:none;
        background-color: white;
        border-radius: 15px;
        height: 170px;
        width:250px;
        position: absolute;
        left:15%;
        color: black;
    }
    #invisibleAgain li{
        margin-top: 20px;
        margin-left: 0%;
        list-style: none;
    }
    #invisibleAgain li:hover{
    background-color:aquamarine;
    }
    #main{
        background-color: white;
    }
    #navBar img{
        background-color: rgb(94, 39, 201);
        height: 40px;
        border-radius: 15px;
        margin-top: 5%;
        margin-left: 12%;
    }
    .floatsRight, .imagesRight, .imagesLeft{
        display: none;
    }
    #center{
        color: black;
        margin-left: 85px;
     }
     #center h1{
         margin-left: 15px;
         font-size: 20px;
     }
     #center p{
         margin-left: 0%;
         font-size: 15px;
         font-weight: 500;
     }
     .category{
        display: flex;
    }
    .category p{
        font-size: 15px;
    }
    .car{
        margin-left: 0%;
    }
    .car img{
        background-color: blueviolet;
        border-radius: 25px;
    }
    .bike{
    margin-left: 35px;
    }
    .bike img{
        background-color: blueviolet;
        border-radius: 15px;
    }
    .health{
        margin-left: 40px;
    }
    .health img{
        background-color: blueviolet;
        border-radius: 15px;
    }
    .inputDiv{
        position: absolute;
        left:20px;
        width:290px;
        height: 80px;
        background-color: white;
        border:2px solid whitesmoke;
        border-radius: 15px;
    }
    #theInput{
        width:150px;
        height: 50px;
        border:none;
        margin-left: 20px;
        font-size: 15px;
        margin-top: 20px;
    }
    .inputAndbutton button{
        background-color: rgba(14, 209, 14, 0.87);
        color: white;
        border-radius: 7px;
        width: 50px;
        height: 40px;
        border: 1px solid green;
        margin-left: 50px;
    }
    #main hr{
        margin-top: 30%;
        position: absolute;
        left:30%;
        height: 0px;
        width:200px;
        background-color: rgb(126, 124, 124);
    }
    #main hr+p{
        margin-top: 35%;
        position: absolute;
        left:55%;
    }
    .looking{
        margin-top: 130px;
        position: absolute;
        left:2%;
        background-color:rgb(94, 39, 201) ;
        border: 2px solid rgb(126, 124, 124);
        border-radius: 10px;
        width:300px;
        height: 60px;
        display: flex;
        line-height: 15px;
    }
    .looking img{
        margin-top: 10px;
        margin-left: 5px;
        height: 40px;
    }
    .text{
        margin-left: 5px;
        font-size: 10px;
    }
    .looking button{
        position: absolute;
        left:220px;
        font-size: 10px;
        margin-top: 10px;
       background-color:rgb(94, 39, 201) ;
       height: 40px;
       width:45px;
       border-radius: 5px;
       border: 2px solid grey;
       font-weight: 600;
       cursor: pointer;
    }
    .crick{
       display: none;
    }
    #reviewsHome{
   display: none;
}
#partners{
    display: none;;
}
#displayFlex{
    display: inline;
    background: rgb(246, 247, 251);
}
#whyAcko{
    margin-top: 220px;
    background: rgb(246, 247, 251);
    padding: 0px 10px;
    width: 410px;
    font-size: 12px;
}
.low{
    margin-left: 80px;
}
.easy{
    margin-left: 80px;
}
.free{
    margin-left: 80px;
}
#whyAcko > h1{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
    font-size: 15px;
}
.footerBox{
    display:inline-block;
    margin-left: 30px;
    margin-top: 50px;
}
.footerBox a{
    color: black;
    text-decoration: none;
}
.appStore img{
    height: 50px;
}
.social a{
margin: 10px;
}
.leftPartfooter{
font-size: 12px;
}
.vl {
    display: none;
  }
  .rightPartfooter{
      display: none;
  }
.lowermostFooter{
    height:300px;
    width:330px;
    background: rgb(246, 247, 251);
    font-size: 12px;
    padding-top: 20px;
}
.lowermostFooter span{
    display: inline-block;
    margin-left: 10px;
    font-weight: 500;
}
.lowermostFooter p{
    margin-left: 10px;
    color: rgb(29, 29, 87);
}

  }

  @media (min-width: 480px) and (max-width:768px ) {
    #main{
        background-color: rgb(94, 39, 201);
        height:770px;
        width:768px;
    }
    #invisible{
        display:none;
        background-color: white;
        border-radius: 15px;
        height: 170px;
        width:200px;
        position: absolute;
        left:25%;
        color: black;
        font-size: 12px;
    }
    #invisible li{
        margin-top: 20px;
        margin-left: 0%;
        list-style: none;
    }
    #invisible li:hover{
    background-color:aquamarine;
    }
    #invisibleAgain{
        display:none;
        background-color: white;
        border-radius: 15px;
        height: 170px;
        width:250px;
        position: absolute;
        left:15%;
        color: black;
    }
    #invisibleAgain li{
        margin-top: 20px;
        margin-left: 0%;
        list-style: none;
    }
    #invisibleAgain li:hover{
    background-color:aquamarine;
    }
    #navBar{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 12px;
    }
    #navBar img{
        background-color: rgb(94, 39, 201);
        height: 30px;
        border-radius: 50%;
        margin-top: 2%;
        margin-left: 12%;
    }
    .floatsRight{
        display: none
    }
    #imgOne{
     display: none;
    }
    .imagesRight #imgTwo{
    display: none;
    }
    #center{
       color: white;
       margin-left: 20%;
       font-size:larger;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #center p{
        margin-left: 3%;
        font-weight: 500;
    }
    .category{
        display: flex;
    }
    .category p{
        font-size: 12px;
    }
    .car{
        margin-left: 20px;
    }
    .bike{
    margin-left: 80px;
    }
    .health{
        margin-left: 100px;
    }
    .inputDiv{
        position: absolute;
        left:130px;
        width:430px;
        height: 65px;
        background-color: white;
        border:2px solid whitesmoke;
        border-radius: 15px;
    }
    #theInput{
        width:260px;
        height: 50px;
        border:none;
        margin-left: 10px;
        font-size: 13px;
    }
    .inputAndbutton button{
        background-color: rgba(14, 209, 14, 0.87);
        color: white;
        border-radius: 7px;
        width: 100px;
        height: 40px;
        border: 1px solid green;
        margin-top: 10px;
    }
    #main hr{
        margin-top: 12%;
        position: absolute;
        left:150px;
        height: 0px;
        width:400px;
        background-color: rgb(126, 124, 124);
    }
    #main hr+p{
        margin-top: 14%;
        position: absolute;
        left:40%;
        font-size: 12px;
    }
    .looking{
        margin-top: 170px;
        position: absolute;
        left:15%;
        background-color:rgb(94, 39, 201) ;
        border: 2px solid rgb(126, 124, 124);
        border-radius: 10px;
        width:500px;
        height: 70px;
        display: flex;
        line-height: 15px;
    }
    .looking img{
        margin-top: 10px;
        margin-left: 10px;
        height: 50px;
    }
    .text{
        margin-left: 20px;
        font-size: 13px;
        margin-top:20px;
    }
    .looking button{
        margin-top: 10px;
        background-color:rgb(94, 39, 201) ;
       margin-left: 11%;
       height: 40px;
       width:100px;
       border-radius: 5px;
       border: 2px solid grey;
       font-weight: 600;
       cursor: pointer;
    }
    .crick{
        margin-top: 280px;
        position: absolute;
        left:15%;
        border: 2px solid rgb(126, 124, 124);
        border-radius: 10px;
        width:500px;
        height: 120px;
    }
    .crick p{
        font-size: 15px;
        color: white;
        margin-left: 190px;
    }
    .crick div{
        margin-left: 20px;
    }
    .crick div img{
        margin-left: 20px;
    }
    #reviewsHome{
        display: flex;
        background: rgb(246, 247, 251);
        height:250px;
        width:768px;
        font-size: 13px;
    }
    #reviewsHome p{
    line-height: 5px;
    font-weight: 500;
    }
    #reviewsHome img{
        border-radius: 50%;
    }
    #reviewsHome img+span{
        font-weight: 600;
    }
    .revOne{
        margin-left: 50px;
    }
    .revTwo{
        margin-left: 50px;
    }
    .revThree{
        display: none;
    }
    #partners{
        height: 200px;
        width:768px;
    }
    .moreLeft{
        margin-left: 190px;
        font-size: 15px;
    }
    .lessLeft{
        margin-left: 150px;
        font-size: 12px;
    }
    #partners img{
        margin: 10px;
        height: 20px;
    }
    .rowOne, .rowTwo{
        margin-left: 150px;
    }
    .rowThree{
        margin-left: 200px;
    }
    #displayFlex{
        display: flex;
        background: rgb(246, 247, 251);
        padding: 0px 10px;
    }
    #whyAcko{
        background: rgb(246, 247, 251);
        padding: 0px 10px;
        font-size:12px;
    }
    .low{
        margin-left: 20px;
    }
    .easy{
        margin-left: 20px;
    }
    .free{
        margin-left: 20px;
    }
    #whyAcko > h1{
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 20px;
    }
    .footerBox{
        display:flex;
        margin-left: 10px;
        margin-top: 50px;
        font-size: 12px;
    }
    .footerBox a{
        color: black;
        text-decoration: none;
    }
    .appStore img{
        height: 30px;
    }
    .social a{
    margin: 5px;
    }
    .vl {
        border-left: 1px solid rgba(184, 184, 228, 0.755);
        height: 680px;
        margin-left: 20px;
        margin-top: 15px;
      }
      .rightPartfooter{
          display: inline;
      }
      .horizontalOne{
      display: flex;
      }
      .hori{
          margin: 5%;
      }
      .horizontalTwo{
        display: flex;
        margin-bottom: 50px;
      }
      .company{
        margin-left: 10px;
        font-size: 12px;
        line-height: 25px;
      }
      .support{
          margin-left: 30px;
          font-size: 12px;
          line-height: 25px;
      }
      
      .legal{
        display: none;
      }
    .carInsure{
        margin-left: 10px;
        font-size: 12px;
        line-height: 25px;
    }
    
    .bikeInsure{
        margin-left: 10px;
        font-size: 12px;
        line-height: 25px;
    }
    .healthInsure{
        display:none;
    }
    .lowermostFooter{
        width: 768px;
        background: rgb(246, 247, 251);
        font-size: 10px;
        padding-top: 10px;
    }
    .lowermostFooter span{
        margin-left: 5px;
        font-weight: 500;
    }
    .lowermostFooter p{
        margin-left: 5px;
        color: rgb(29, 29, 87);
    }
  }
