.main {
    font-family: ProximaNovaRegular, Arial, Sans-Serif;
    width: 85%;
    margin: auto;
    margin-top: 100px;
}


.blue{
    background-color: #5e27c9;
    color: #fff;
    margin: -30px;

}
.space{
    width: 85%;
    margin: auto;
}
.insurance{
    padding-top: 40px;
}
.input-element{
    font-size: 20px;
    width: 400px;
    height: 80px;
    border-radius: 8px;
}
.insure{
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    background-color: #1fad69;
    color: #fff;
    border-radius: 7px;
    border:none;
    padding: 20px 15px;
}

.insideFlex{
    display: flex;
    gap : 500px;    
}
.pic1 {
    border-radius: 8px;
    margin-bottom: 30px;
}
.middle {
    text-align: center;
}
.middle>div>p{
    font-size: 15px;
    line-height: 25px;
}
.list {
    line-height: 35px;
}
.table{
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.grid23{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap : 30px;    
}


