.main {
  font-family: 'system-ui','Helvetica Neue',Helvetica,Arial,sans-serif;
  width: 85%;
  margin: auto;
  margin-top: 5px;
}
.logo {
  width: 100px;
  height: auto;
}
.lightGreen {
  background-color: #cbf9bb;
  color: #2d9b4b;
  padding: 5px;
  width: 200px;
  padding-left: 10px;
  border-radius: 6px;
}
.input-element {
  font-size: 20px;
  width: 400px;
  height: 40px;
  border: 1px solid rgb(220, 220, 224);
  border-radius: 10px;
  padding: 0.5em 1em;
  color: rgb(92, 93, 102);
  font-size: 1rem;
}
.swift {
  width: 500px;
  height: auto;
}
.flex1 {
  display: flex;
  gap: 300px;
}
.insure {
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  border-radius: 7px;
  border: none;

  padding: 1em 2em;
  font-size: 0.875rem;
  background-color: rgb(68, 203, 134);
  border: 1.5px solid rgb(68, 203, 134);
  color: rgb(255, 255, 255);
}
.insure:hover {
  background-color: #2d9b4b;
}
.click {
  background-color: #ebf8ff;
  border-radius: 8px;
  font-size: 12px;
  padding: 10px;
  width: 160px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.click a {
  color: rgb(0, 145, 221);
  text-decoration: none;
}

.logo-div {
  border-bottom: 1px solid #e1e1e1;
  padding: 20px 10px;
}

#info {
  /* border: 1px solid red; */
  display: flex;
  margin-bottom: 40px;
  justify-content: space-around;
  border-radius: 15px;
  border: 1px solid rgb(214, 217, 224);
  padding: 24px 20px 24px 56px;
}
#info > div {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  gap: 30px;
}
#info > div:last-child {
  width: 60%;
}

#info > div > div {
  /* border: 1px solid blue; */
  display: flex;
  width: 40%;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
#people {
  display: flex;
  gap: 4%;
}
#people > div {
  /* border: 1px solid red; */
  width: 29%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#people img{
    width: 325px;
    height: 277px;
}
#people i{
    color: #ff9100;
}
#inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 80%;
  box-sizing: border-box;
  margin: auto;
  z-index: 1000;
  background-color: white ;
  margin-top: -60px;
  /* border: 1px solid blue; */
  text-align: center;
  font-size: 12px;
  padding:20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
#covered>div{
    /* border: 1px solid red; */
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding:15px;
    gap: 20px;
    justify-content: space-between;
}
#covered>div>div{
    /* border: 1px solid green; */
    width: 48%;
    display: flex;
    gap: 20px;
    align-items: center;
}
#covered>div>div p:first-child{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: -5px;
}
#covered>div>div p:last-child{
    font-size: 11px;
    /* font-weight: bold; */
}
#covered img{
    width: 36px;
    height: 36px;
}
#red{
    color: red;
    font-weight: bold;
    margin-bottom: -10px;

}
#black{
    margin-bottom: -10px;
    font-weight: bold;
}

#faq>div{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding: 20px 0;
    border-bottom: 1px solid #e1e1e1;
}
#faq i{
    color:#7c47e1;
    font-weight: bold;
}