body {
    font-family: 'system-ui','Helvetica Neue',Helvetica,Arial,sans-serif;
}
li, p {
    color: #444;
    line-height: 25px;
}
.main {
    width: 85%;
    margin: auto;
    margin-top: 100px;
}
.blue{
    background-color: #5e27c9;
    color: #fff;
    margin: -30px;

}
.blue p {
    color: #fff;
}
.white {
    border: 1px solid red;
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
}
.space{
    width: 85%;
    margin: auto;

}
.insurance{
    padding-top: 40px;
}
.input-element{
    font-size: 20px;
    width: 400px;
    height: 50px;
    border-radius: 8px;
    border: none;
    outline: none;
}
.input-element:focus {
    border: none;
    outline: none;
}
.insure{
    cursor: pointer;
    font-weight: bold;
    background-color: #1fad69;
    color: #fff;
    border-radius: 7px;
    border:none;
    padding: 15px;
    width: 150px;
}
.insure:hover {
    background-color: #2d9b4b;
  }
.or{
    text-align: center;
}
.quote {
    color: #fff;
    border-radius: 6px;
    background-color: #5e27c9;
    border: 2px solid #fff;
    padding: 5px 8px;
    cursor: pointer;
    margin-left: 50px;
}
.innerFlex {
    display: flex;
    border: 1px solid #fff;
    border-radius: 7px;
    align-items: center;
    line-height: 0.6;
    gap: 20px;
    box-sizing: border-box;
    padding-left: 15px;

}
.mainFlex{
    display: flex;
    justify-content: space-between;    
}
.middle {
    text-align: center;
    margin-top: 50px;
}

.middle>div>p{
    font-size: 15px;
    line-height: 25px;
}

.color1 {
    background-color: #f6f7fb;
}
.pic1 {
    padding-bottom: 50px;
}
.flex1 {
    display: flex;
    padding: 60px;
    gap: 70px;
}
.color1 {
    background-color: #f6f7fb;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 90px;
    padding: 100px;
}
.white1{
    background-color: #fff;
    border: none;
    border-radius: 8px;
    padding: 50px;
}
.buy{
    margin-top: 100px;
    padding-top: 70px;
}

.table th, .table td{
    padding: 15px;
    text-align: left;
    border : 1px solid #777;
}
.table th {
    background-color: lavender;
}
.table {
    border : 1px solid #777;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
    box-sizing: border-box;
    text-align: left;
    border-radius: 8px;
}
.flex2 {
    display: flex;
    gap:50px;
    padding: 30px;
}