body {
    margin: 0%;
    top: 0%;
}

html,
body,
div,
span,
iframe,
h2,
a,
img {
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

a {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

a {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.main {
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: middle;
    background: transparent;
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

.subscribe {
    display: flex;
    border-radius: 8px;
    background: rgb(55, 200, 126);
    color: rgb(255, 255, 255);
    padding: 12px 32px;
    width: fit-content;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    margin-top: 14px;
    cursor: pointer;
}

.first_box {
    width: 100%;
    display: flex;
    background: rgb(94, 39, 201);
    padding: 36px 0px;
    box-sizing: border-box;
    align-items: center;
    outline: 0;
    color: aliceblue;
}

.jss1 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.jss1 h1 {
    margin: 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: rgb(255, 255, 255);
}

.jss1 p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin: 4px 0px;
    color: rgb(255, 255, 255);
}

.img2 img {
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    width: 270px;
}

.second_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.second_box_left {
    width: 100%;
    flex-direction: column;
    display: none;
}
.second_box_left_main {
    position: sticky;
    top: 2rem;
}
.third_box {
    display: grid;
    height: 900px;
}

.second_box_left_main_top {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 20px;
}

.second_box_left_main_bottom {
    width: 100%;
    display: flex;
    background: rgb(241, 243, 248);
    border-radius: 10px;
    margin-top: 30px;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 27px;
    box-sizing: border-box;
}

.p4 {
    margin: 14px 0px 0px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(25, 36, 52);
    text-align: center;
}

.jss2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.jss21,
.jss22,
.jss23,
.jss24 {
    width: 100%;
    display: none;
}

.jss21 a,
.jss22 a,
.jss23 a,
.jss24 a {
    text-decoration: none;
}

.jss211 {
    width: 100%;
    display: flex;
    margin-bottom: 18px;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    opacity: 1;
    gap: 20px;


}

.imga img {
    min-width: 15px;
    max-width: 15px;
    height: 16px;
    fill: rgb(255, 255, 255);
}

.jss211 p {
    margin: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: inherit;
    text-decoration-line: none;
}

.second_box_right {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.second_box_right h2 {
    margin: 0px 0px 32px;
    font-weight: 650;
    font-size: 18px;
    line-height: 24px;
    color: rgb(25, 36, 52);
}

.line {
    display: flex;
    border-bottom: 1px solid rgb(200, 208, 219);
    width: 100%;
    height: 2px;
}

.popular_guides {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    overflow: auto;
}

.popular_guides h2 {
    margin: 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: rgb(25, 36, 52);
}

.jss3 {
    width: 100%;
    display: flex;
    margin-top: 24px;
    /* overflow: auto scroll; */
}

.jss31 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px 12px;
    box-sizing: border-box;
    border: 1px solid rgb(228, 234, 241);
    border-radius: 6px;
    margin-right: 16px;
    min-width: 177px;
    max-width: 177px;
    cursor: pointer;
    height: 100%;
}
#jss3131 {
    flex-direction: row;
}

.jss311 {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    margin: 0;
}
.jss31111 {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    margin: 0;
}
.jss31111 img {
    visibility: inherit;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.jss311 img {
    visibility: inherit;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.jss312 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#jss312 {
    width: 140px;
}

.jss312 p {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: rgb(25, 36, 52);
    margin: 16px 0px;
}

.jss3121 {
    margin-top: 0%;
    margin-left: auto;
    width: fit-content;
}

.jss3121 img {
    vertical-align: -25%;
    padding-top: 0%;
    padding: 0;
    margin: 0;
    width: 18px;
    height: 15px;
    fill: none;
    overflow: hidden;
}
.p10img img {
    width: 12px;
    height: 14px;
}

.jss4 {
    width: 100%;
    display: flex;
    margin: 24px 0px;
}

.jss41 {
    display: flex;
    border: 1px solid rgb(67, 79, 90);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 12px;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: rgb(67, 79, 90);
    width: fit-content;
    -webkit-box-align: center;
    align-items: center;
}

.popular_articles h2,
.popular_ebooks h2 {
    margin: 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: rgb(25, 36, 52);
}

.paragraph1 {
    margin: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgb(67, 79, 90);
}

.jss313 {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: auto;
}

.paragraph2 {
    margin: 0px;
    font-weight: 500;
    font-size: 12px;
    line-height: 136.02%;
    color: rgb(125, 137, 155);
}

.paragraph3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgb(25, 36, 52);
    margin: 12px 0px;
}

.dot {
    width: 3px;
    height: 3px;
    background: rgb(196, 196, 196);
    margin: 0px 8px;
    border-radius: 50%;
}

.jss3111 {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 6px;
    margin-right: 16px;
    min-width: 260px;
    max-width: 260px;
    cursor: pointer;
}

.jss6 {
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(200, 208, 219);
    margin: 0px 12px;
    -webkit-box-pack: start;
    justify-content: flex-start;
    overflow: auto;
    scroll-behavior: smooth;
}
#p14 {
    display: flex;
    flex-direction: row;
}
#dot {
    margin-top: 7px;
}

.p5 {
    margin: 0px 16px 0px 0px;
    white-space: nowrap;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* color: rgb(124, 71, 225); */
    padding: 8px 10px 10px;
    box-sizing: border-box;
    cursor: pointer;
    /* border-bottom: 2px solid rgb(94, 39, 201); */
}

.jss811 {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid rgb(228, 234, 241);
    border-radius: 6px;
    box-sizing: border-box;
}

.jss8111 {
    width: 100%;
    padding: 35px 35px 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.jss8112 {
    margin: 0px;
    color: rgb(0, 145, 221);
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
}

.p8 {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: rgb(25, 36, 52);
    margin: 0px 0px 10px;
}
.jss8h2 {
    padding-top: 20px;
    margin: 0px;
    font-size: 15px;
    line-height: 14px;
    font-weight: 400;
    color: rgb(25, 36, 52);
}

.jss81 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 32px 0px 50px;
}

.jss812 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px 0px;
}

.jss812a {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    border: unset;
    border-radius: 6px;
    box-sizing: border-box;
}

.jss812b {
    /* overflow: hidden; */
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 170px;
    height: 96px;
}

.jss812b img {
    visibility: inherit;
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.jss812c {
    width: 55%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.p9 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgb(25, 36, 52);
    margin: 0px 0px 10px;
}

.p10 {
    margin: 0px;
    color: rgb(0, 145, 221);
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
}

@media screen and (min-width: 768px) {
    .p8 {
        font-size: 16px;
    }
}



@media screen and (min-width:1025px) {
    .jss1 {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .jss1 h1 {
        color: rgb(255, 255, 255);
        font-size: 32px;
        line-height: 36px;
    }

    .jss1 p {
        font-size: 16px;
        line-height: 20px;
    }

    .img2 {
        display: flex;
        width: 290px;
    }

    .second_box {
        flex-direction: row;
        padding: 0px 0px 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }

    .second_box_left {
        display: flex;
        width: 270px;
        margin-right: 30px;
    }

    .second_box_left_main_top {
        border: 1px solid rgb(200, 208, 219);
        border-radius: 10px;
        padding: 20px;
        height: fit-content;
    }

    .jss21 {
        display: flex;
        border-radius: 8px;
        margin-bottom: 5px;
        /* background: rgb(241, 243, 248); */
        /* color: rgb(124, 71, 225); */
    }

    .jss22,
    .jss23,
    .jss24 {
        display: flex;
        border-radius: 8px;
        margin-bottom: 5px;
        background: rgb(255, 255, 255);
        color: rgb(67, 79, 90);
    }

    .jss211 {
        padding: 15px 0px 15px 27px;
        border-radius: 8px;
        margin-bottom: 0px;
    }

    .imga {
        width: 15px;
        height: 16px;
        background: transparent;
        padding: 0px;
    }

    .imga img {
        width: 15px;
        height: 16px;
        fill: rgb(72 51 112);
    }

    .jss211 p {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    .second_box_right {
        width: calc(100% - 270px);
    }

    .jss3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px 20px;
    }

    .jss31 {
        width: 100%;
        height: 100%;
        max-width: unset;
        min-width: unset;
        padding: 0px;
    }
    #jss311 {
        height: 130px;
    }

    .jss3111 {
        width: 100%;
        min-width: unset;
        max-width: unset;
    }

    

    .jss311 img {
        width: 269px;
        height: 151px;
        border-radius: 6px 6px 0px 0px;
    }
    .jss31111 img {
        width: 432px;
        height: 202px;
        border-radius: 6px;
    }

    .jss312 {
        flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    }

    .jss312 p {
        margin: 0px;
        font-size: normal;
        font-weight: 500;
    }
    #jss312 {
        width: auto;
    }

}

@media screen and (min-width: 1170px) {
    .second_box {
        max-width: 1170px;
        padding-bottom: 60px;
        background-color: #ffffff;
    }

    .second_box_left {
        min-width: 270px;
    }
}

@media (max-width: 1024px) {
    .img1 {
        display: none;
    }
    .jss8 {
        display: none;
    }
    .jss1 {
        padding-left: 20px;
    }
    .jss3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 45px 36px;
    }
    .jss31 {
        flex-direction: column;
        max-width: 100%;
        padding-top: 0%;
        padding-bottom: 0%;
    }
    .jss311 img {
        width: 269px;
        height: 151px;
        border-radius: 6px 6px 0px 0px;
    }
    .jss3111 {
        max-width: 100%;
    }
    .jss31111 img {
        width: 432px;
        height: 202px;
        border-radius: 6px;
    }
}
@media (max-width: 900px) {
    .jss3 {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 750px) {
    .jss3 {
        grid-template-columns: repeat(2, 1fr);
    }
    .jss31111 img {
        width: 432px;
        height: 202px;
        border-radius: 6px;
    }
}
@media (max-width: 550px) {
    .jss3 {
        grid-template-columns: repeat(1, 1fr);
    }
}