body {
    margin: 0%;
    top: 0%;
}
.main {
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: middle;
    background: transparent;
    margin: 0;
    padding: 0;
    font-family: system-ui;
}
.first_box {
    width: 100%;
    display: flex;
    background: rgb(94, 39, 201);
    padding: 36px 20px;
    box-sizing: border-box;
    align-items: center;
    outline: 0;
    color: aliceblue;
}
.jss1 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.jss1 h1 {
    margin: 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: rgb(255, 255, 255);
}
.jss1 p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin: 4px 0px;
    color: rgb(255, 255, 255);
}
.img2 img {
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    width: 270px;
}
@media screen and (min-width:1025px) {
    .jss1 {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .jss1 h1 {
        color: rgb(255, 255, 255);
    font-size: 32px;
    line-height: 36px;
    }
    .jss1 p {
        font-size: 16px;
    line-height: 20px;
    }
    .img2{
        display: flex;
        width: 290px;
    }
}